<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <!-- [END head_html] -->
  <body>
    {% for greeting in greetings %}
        {% if greeting.author %}
            <b>{{ greeting.author.nickname() }}</b> wrote:
        {% else %}
        An anonymous person wrote:
        {% endif %}
        {% if greeting.servingUrl %}
            <br/><img src="{{ greeting.servingUrl }}">
        {% endif %}
        <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}

    <!--
    <form action="/sign?guestbook_name={{ guestbook_name }}" enctype="multipart/form-data" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <hr>

    <form>Guestbook name:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <div><label>Avatar:</label></div>
      <div><input type="file" name="img"/></div>
      <input type="submit" value="switch">
    </form>
    -->
    <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
        <div><textarea name="content" rows="3" cols="60"></textarea></div>
        <div><input type="submit" value="Sign Guestbook"></div>
        <div>Upload File: <input type="file" name="file"><br></div>
        <!-- <div><input type="submit" name="submit" value="Submit"></div> -->
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}
