<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <!-- [END head_html] -->
  <body>
    <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
        <textarea name="search_term" rows="1" cols="60">cats</textarea></div>
        <div>Upload File: <input type="file" name="source_img"><br></div>
        <div><input type="submit" value="Let's go!"></div>
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}
