<!DOCTYPE HTML>
{% autoescape true %}

<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.slidertron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt skel-layers-fixed">
				<h1><a href="/index.html">A COMSM0010 Project <span>by Ben, Sven, and Martin.</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/index.html">Home</a></li>
						{% if user_id %}
						<li>
							<a href="" class="icon fa-angle-down">{{ user_id }}</a>
							<ul>
								<li><a href="/main/user/?user_id={{user_id}}">User page</a></li>
								<li><a href="{{ url|safe }}">{{ url_linktext }}</a></li>
							</ul>
						</li>
						{% else %}
						<li><a class="button special" href="{{ url|safe }}">{{ url_linktext }}</a></li>
						{% endif %}
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner" >
					<h2>MoMoMosaic</h2>
					<!--p>Cloud Mosaic Generator</p-->
					<ul class="actions">
						<li><a href="#one" class="button big scrolly" style="background-color: rgba(98, 68, 55, 1);">MoMoMo.. WHAT?</a></li>
						<li><a href="/upload/" class="button big scrolly" style="background-color:rgba(236, 76, 76, 1);">GET STARTED</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>A picture says a thousand words, what about 1000 pictures?</h2>
						<p>A cat made out of pictures of kittens sure is <b>CUTE</b>! I'd love to make one of <i>my</i> cat! Well,  <br />
						now you can! With <b>MoMoMosaic cloud mosaic maker<sup>TM</sup></b> you can make all the mosaics <br />
						you could <i>ever imagine</i>. Why not check out some examples from the <a href="#three"><b>gallery</b></a>?</p>
					</header>
					<div class="slider">
						<span class="nav-previous"></span>
						<div class="viewer">
							<div class="reel">
								<div class="slide">
									<img src="images/slide1.png" alt="" />
								</div>
								<div class="slide">
									<img src="images/slide2.png" alt="" />
								</div>
								<div class="slide">
									<img src="images/slide3.png" alt="" />
								</div>
							</div>
						</div>
						<span class="nav-next"></span>
					</div>
				</div>
			</section>
			
		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="container">
					<div class="row uniform">
						<div class="4u 6u(2) 12u$(3)">
							<section class="feature fa-camera-retro">
								<h3>Pimp your photos</h3>
								<p>Do you take <i>literally millions</i> of photos, well why not combine them so they aren't boring like everyone else's?</p>
							</section>
						</div>
						<div class="4u 6u$(2) 12u$(3)">
							<section class="feature fa-code">
								<h3>This icon is not relevant</h3>
								<p>Not even one bit...</p>
							</section>
						</div>
						<div class="4u$ 6u(2) 12u$(3)">
							<section class="feature fa-save">
								<h3>Safe storage</h3>
								<p>Store your mosiacs in <i>the Cloud</i><sup>TM</sup>. We know you'll probably lose them anyway...</p>
							</section>
						</div>
						<div class="4u 6u$(2) 12u$(3)">
							<section class="feature fa-desktop">
								<h3>Cross platorm</h3>
								<p>We support windows, mac, linux, android, iOS. Why? Because they all have a browser, duh!</p>
							</section>
						</div>
						<div class="4u 6u(2) 12u$(3)">
							<section class="feature fa-briefcase">
								<h3>Regular Storage</h3>
								<p>You can download your mosaics if you <i>really</i> want to.. bury them underground to confuse archaeologists!</p>
							</section>
						</div>
						<div class="4u$ 6u$(2) 12u$(3)">
							<section class="feature fa-cog">
								<h3>Change <i>all</i> the Settings!</h3>
								<p>If you want to feel a sense of control in an otherwise chaotic and unpredicatble world.</p>
							</section>
						</div>
					</div>
				</div>
			</section>
			
		<!-- Three -->
			<section id="three" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>User Gallery</h2>
						<p>"It's better than facebook"<br />
						-Jack Daniel, <i>professional website connoisseur</i></p>
					</header>
					<div class="row uniform">
						{% for job in jobs %}
						<div class="4u{% if loop.index is divisibleby 3 %}${% endif %} 6u{% if loop.index is divisibleby 2 %}${% endif %}(2) 12u$(3)">
							<article class="box post">
								<a href="{{ job.mosaic_url }}=s0" class="image fit"><img src="{{ job.mosaic_url }}=s400 " alt="Image failed to load" /></a>
								<h3><a href="https://www.google.co.uk/search?q={{ job.search_term }}&tbm=isch"> {{ job.search_term| truncate(30,true) }}</a></h3>
								<p>Generated on : {{ job.date.strftime('%Y-%m-%d %H:%M') }} by <i>{% if job.user_id %}{{ job.user_id }} {% else %} anonymous {% endif %}</i> from this image: </p>
                                <a href="{{ job.source_url }}=s0" class="image fit"><img src="{{ job.source_url }}=s400 " alt="Image failed to load" /></a>

							</article>
						</div>
						{% endfor %}
					</div>
				</div>
			</section>
			
		<!-- CTA -->
			<section id="cta" class="wrapper style3">
				<h2>Ready for a cloud based adventure?</h2>
				<ul class="actions">
					<li><a href="/upload/" class="button big">GET STARTED</a></li>
				</ul>
			</section>
			
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
				</ul>
				<ul class="menu">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<span class="copyright">
					&copy; Copyright. All rights reserved. Design by <a href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a><br>MoMoMosaic takes no resposibility for any user generated content displayed on this website.<br>By submitting images for usage in mosaic creation the user asserts they have complied with all necessary copyright and trademark legislation.<br>Content uploaded to or created by MoMoMosaic may be used for public display.
				</span>
			</footer>

	</body>
</html>
{% endautoescape %}