<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <!-- [END head_html] -->
  <body>
        <div>Processing job: <blockquote> {{ job_id }} </blockquote></div>
        <div>search term: <blockquote> {{ job.search_term }} </blockquote></div>
        <div>status: <blockquote> {{ job.status }} </blockquote></div>
        <div>image: <img src= "{{ job.source_url }} "> </div>
        <div>mosaic: <img src= "{{ job.mosaic_url }} "> </div>

  </body>
</html>
{% endautoescape %}
