<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <!-- [END head_html] -->
  <body>
        <script>
            function getProgress() {
                var xmlHttp = null;
                xmlHttp = new XMLHttpRequest();
                xmlHttp.open("GET","/result/check_progress/?job_id={{job_id}}",true);
                xmlHttp.onreadystatechange = displayProgress;
                xmlHttp.send(null);
            }
            function displayProgress() {
                console.log(this.responseText);
                var newString = "<p>" + this.responseText + "</p>";
                document.getElementById("progress").innerHTML = newString;
            }
        </script>
        <div>RESULTS for job: <blockquote> {{ job_id }} </blockquote></div>
        <div id="progress"><p>unknown yet</p></div>
        <button onclick="getProgress()">Check progress</button>
        <div>search term: <blockquote> {{ job.search_term }} </blockquote></div>
        <div>from this image: <img src= "{{ job.source_url }} "> </div>
        <div>to this lovely mosaic: <img src= "{{ job.mosaic_url }} "> </div>

  </body>
</html>
{% endautoescape %}