<!DOCTYPE HTML>
{% autoescape true %}

<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.slidertron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
		<script>
			var completedYet = false;
            window.onload = getProgress();
			var refreshIntervalId = window.setInterval(function(){
				if (completedYet) {
					clearInterval(refreshIntervalId);
				}
				else {getProgress();}
			}, 5000);
            function getProgress() {
                var xmlHttp = null;
                xmlHttp = new XMLHttpRequest();
                xmlHttp.open("GET","/result/check_progress/?job_id={{job_id}}",true);
                xmlHttp.onreadystatechange = displayProgress;
                xmlHttp.send(null);
            }
            function displayProgress() {
                console.log(this.responseText);
                var newString = "" + this.responseText;
                document.getElementById("progress").innerHTML = newString;
				if (this.responseText.substring(0,9)=="Completed") {
					var imgUrl = this.responseText.substring(10);
					console.log(imgUrl);
					document.getElementById("progress").innerHTML = "Completed";
					//document.getElementById("resultImage").src=imgUrl;
					document.getElementById("resultDiv").innerHTML = '<a href="' + imgUrl + '=s0"><img class="image fit" id="resultImage" src= "'+ imgUrl +'"></a>';
					document.getElementById("processing1").innerHTML = "Your mosaic for '{{ job.search_term }}' is complete!";
					document.getElementById("processing2").innerHTML = "Your image has been processed";
					document.getElementById("processing3").innerHTML = "The result is displayed below";
					document.getElementById("processing4").innerHTML = "Your Mosaic:";
					completedYet = true;
				}
            }
			function learnMorePlease() {
				document.getElementById("learnMoreText").innerHTML = 
				"<p>While creating your mosaic, our application goes through several stages:</p>" + 
				"<p>Firstly, it slices your input image into 20 different sections, and passes each one to a seperate virtual machine. These all then compute a colour metric for each tiny region in the input image where a tile will go.</p>" +
				"<p>At the same time, or, <i>in parallel</i> other virtual machines race to download and analyse the tiles that the final mosaic is constructed from. Ok well they don't exactly race, more like they form an orderly and efficient queue.</p>" +
				"<p>Once the source image and the tiles have been analysed, the application brings out our <i>crap-reduce</i> algorithm <a href='https://www.google.co.uk/patents/CN103537703A?cl=en&dq=rubbish+removal&hl=en&sa=X&ei=z46uVPPQNKi67gbKq4GYCQ&ved=0CDoQ6AEwAzgU'  target='_blank'>(patent pending)</a> to place the tiles on the image with a minimum amount of crap, and a maximum of <i>stuff-that-makes-your-mosiac-look-good</i>.</p>" +
				"<p>Finally the resulting mosaic is collected together and combined into one image. Don't worry, no humans or machines were harmed in the making of the mosaic, so go ahead and make as many as you like!</p>"+
				"<p>Hopefully by the time you have finished reading (and understanding) this your mosaic should be ready for you to enjoy!</p>";
			}
			
        </script>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt skel-layers-fixed">
				<h1><a href="/index.html">A COMSM0010 Project <span>by Ben, Sven, and Martin.</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/index.html">Home</a></li>
						{% if user_id %}
						<li>
							<a href="" class="icon fa-angle-down">{{ user_id }}</a>
							<ul>
								<li><a href="/main/user/?user_id={{user_id}}">User page</a></li>
								<li><a href="{{ url|safe }}">{{ url_linktext }}</a></li>
							</ul>
						</li>
						{% else %}
						<li><a class="button special" href="{{ url|safe }}">{{ url_linktext }}</a></li>
						{% endif %}
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper style1">
				<header class="major">
					<h2 id="processing2">Your image is being processed</h2>
					<blockquote> job id :{{ job_id }} </blockquote>
					<!--p>Bear with us, this may take up to 5 minutes or so</p-->
				</header>
				
				<div class="container">
					<div class="row 150%">
						<div class="8u 12u$(2)">
						
							<!-- Content -->
								<section id="content">
								
									<h3>Your Uploaded Image:</h3>
									<img class="image fit" src="{{ job.source_url }}" alt="Your image might have failed to upload, please try again" />
									<h3 id="processing4">Your Mosiac (still processing) :</h3>
									<div id="resultDiv"><img class="image fit" id="resultImage" src= "images/loading.gif"></div>
									<!--p>Please not the following types of images work best:</p>
									<ul>
										<li>Photographs.</li>
										<li>Kittens.</li>
										<li>That's it.</li>
									</ul>
									<p>The following types work less well:</p>
									<ul>
										<li>Cartoons.</li>
										<li>Dogs.</li>
										<li>Mosaics you made before. (why would you do this??)</li>
									</ul-->
								</section>
								
						</div>
						<div class="4u 12u$(2)">
						
							<!-- Sidebar -->
								<section id="sidebar">
									<section>
										<h3 id="processing1">Your mosaic for '{{ job.search_term }}' is currently processing</h3>
										<!--a href="#" class="button special fit">Start Processing!</a-->
                                        <p id="progress">Checking progress..</p>
										<p>No need to reload, just leave that to the code!</p>
										<p id="processing3">Your result will be automatically loaded when finished.</p><p> It will also appear on your <a href='/main/user/?user_id={{user_id}}'  target='_blank'>user page</a> and in the <a href='/index.html#three'  target='_blank'>user gallery</a> on the main page (yes it will be public!)</p>
										<footer>
											<ul class="actions">
												<li><button onclick="learnMorePlease()" class="button small alt">Learn More</button></li><br><br>
												<div id="learnMoreText"></div>
											</ul>
										</footer>
									</section>
									<hr />
									
								</section>

						</div>
					</div>
				</div>
			</section>
			
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
				</ul>
				<ul class="menu">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<span class="copyright">
						&copy; Copyright. All rights reserved. Design by <a href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a><br>MoMoMosaic takes no resposibility for any user generated content displayed on this website.<br>By submitting images for usage in mosaic creation the user asserts they have complied with all necessary copyright and trademark legislation.<br>Content uploaded to or created by MoMoMosaic may be used for public display.<br>MoMoMosaic takes no resposibility for any user generated content displayed on this website.<br>By submitting images for usage in mosaic creation the user asserts they have complied with all necessary copyright and trademark legislation.<br>Content uploaded to or created by MoMoMosaic may be used for public display.
				</span>
			</footer>

	</body>
</html>
{% endautoescape %}