<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <!-- [END head_html] -->
  <body>
        <div>USER PAGE for : <blockquote> {{ user_id }} </blockquote></div>

        <ul id="user_jobs">
           {% for job in user_jobs %}
            <div>job date: <blockquote> {{ job.date }} </blockquote></div>
            <div>search term: <blockquote> {{ job.search_term }} </blockquote></div>
            <div>from this image: <img src= "{{ job.source_url }}=s500 "> </div>
            <div>to this lovely mosaic: <img src= "{{ job.mosaic_url }}=s500 "> </div> <!-- the =sXX resizes so max dim = XX -->
        {% endfor %}
        </ul>

  </body>
</html>
{% endautoescape %}