<!DOCTYPE HTML>
{% autoescape true %}

<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.slidertron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt skel-layers-fixed">
				<h1><a href="/index.html">A COMSM0010 Project <span>by Ben, Sven, and Martin.</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/index.html">Home</a></li>
						{% if user_id %}
						<li>
							<a href="" class="icon fa-angle-down">{{ user_id }}</a>
							<ul>
								<li><a href="/main/user/?user_id={{user_id}}">User page</a></li>
								<li><a href="{{ url|safe }}">{{ url_linktext }}</a></li>
							</ul>
						</li>
						{% else %}
						<li><a class="button special" href="{{ url|safe }}">{{ url_linktext }}</a></li>
						{% endif %}
					</ul>
				</nav>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>User Gallery</h2>
						{% if not user_id %}
							<h3>You need to login</h3>
							<a class="button special" href="{{ url|safe }}">{{ url_linktext }}</a>
						{% endif %}
						{% if user_id %}
                            <p>displaying your {{ job_number}} most recent jobs</p>
						    <h3>Logged in  as  {{ user_id }} </h3>
						{% endif %}
					</header>
					<div class="row">
						{% for job in user_jobs %}
						<div class="4u{% if loop.index is divisibleby 3 %}${% endif %} 6u{% if loop.index is divisibleby 2 %}${% endif %}(2) 12u$(3)">
							<article class="box post">
								<a href="{{ job.mosaic_url }}=s0" class="image fit"><img src="{{ job.mosaic_url }}=s400 " alt="Image failed to load" /></a>
								<h3>{{ job.search_term| truncate(30,true)}}</h3>
								<p>Generated on : {{ job.date.strftime('%Y-%m-%d %H:%M') }} </p>
								

                                <a href="{{ job.source_url }}=s0" class="image fit"><img src="{{ job.source_url }}=s400 " alt="Image failed to load" /></a>

							</article>
						</div>
						{% endfor %}
					</div>
				</div>
			</section>
			
		<!-- CTA -->
			<section id="cta" class="wrapper style3">
                {% if job_number == 0 %}
				<h2>You haven't made any mosaics yet!</h2>
                {% else %}
                <h2>Want to make some more mosaics?</h2>
                {% endif %}
				<ul class="actions">
					<li><a href="/upload/" class="button big">Get Started</a></li>
				</ul>
			</section>
			
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
				</ul>
				<ul class="menu">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<span class="copyright">
					&copy; Copyright. All rights reserved. Design by <a href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a>
				</span>
			</footer>

	</body>
</html>
{% endautoescape %}